name: .NET

on:
  push:
    branches: [ 'master', 'development' ]

defaults:
  run:
    working-directory: Spixi

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout Spixi
      uses: actions/checkout@v4
      with:
        path: Spixi

    - name: Checkout Ixian-Core
      uses: actions/checkout@v4
      with:
        repository: ProjectIxian/Ixian-Core
        path: Ixian-Core
        ref: ${{ github.ref_name }}

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: '10.0.x'

    - name: Install MAUI workload
      run: dotnet workload install maui

    - name: Restore dependencies
      run: dotnet restore

    - name: Building Spixi
      run: dotnet build Spixi/Spixi.csproj -f net10.0-windows10.0.19041.0 -p:Platform=x64 -v:n

    #- name: Running Unit Tests
    #  run: dotnet test UnitTests\bin\Debug\unittests.dll --verbosity normal
